---
title: "Supplementary material for my first PhD project"
excerpt: "<img src='/images/thumbnail_supp_multiling.png'>"
collection: portfolio
---
<!-- Two options: 
  - iframes, advantage of being file that can be open in new tab to view fullscreen, but don't share plotly.min.js 
  - included html file which are jut a div, not full html document, which share plotly.min.js
-->
<script src="{{ base_path }}/assets/js/plotly.min.js"></script>

Two example interactive maps produced as part of my first PhD project. Language distributions in Switzerland and Indonesia:

{% include /plotly/ling_prop_Switzerland_cell_size10000m.html %}

{% include /plotly/ling_prop_Indonesia_cell_size40000m.html %}

Video of the simulation of the model of language competition we proposed in Belgium (see paper for more info!)

<video width="100%" height="100%" controls>
  <source src="/videos/Movie_S1.mp4" type="video/mp4">
</video>
