---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% include base_path %}

{% assign author = site.author %}
{% if author.googlescholar %}
  You can also find my articles on <a href="{{author.googlescholar}}">my Google Scholar profile</a>.
{% endif %}


<div class="page__publications">
  {% assign articles = site.publications | where: "type", "article" %}
  {% if articles.size != 0 %}
    <div class="pubtype">
      <h2 itemprop="headline">
        Journal articles
      </h2>
      {% for post in articles reversed %}
        {% include archive-single-publication.html %}
      {% endfor %}
    </div>
  {% endif %}
  
  {% assign chaps = site.publications | where: "type", "incollection" %}
  {% if chaps.size != 0 %}
    <div class="pubtype">
      <h2 itemprop="headline">
        Book chapters
      </h2>
      {% for post in chaps reversed %}
        {% include archive-single-publication.html %}
      {% endfor %}
    </div>
  {% endif %}

  {% assign preprints = site.publications | where: "type", "online" %}
  {% if preprints.size != 0 %}
    <div class="pubtype">
      <h2 itemprop="headline">
        Preprints
      </h2>
      {% for post in preprints reversed %}
        {% include archive-single-publication.html %}
      {% endfor %}
    </div>
  {% endif %}

  {% assign confs = site.publications | where: "type", "inproceedings" %}
  {% if confs.size != 0 %}
    <div class="pubtype">
      <h2 itemprop="headline">
        Conference proceedings
      </h2>
      {% for post in confs reversed %}
        {% include archive-single-publication.html %}
      {% endfor %}
    </div>
  {% endif %}

</div>
